<%- include("./partials/head") -%>
<%- include("./partials/header") -%>
  <div class="hero-cont">
        <h1>A simple Todo App</h1>
        <a href="/users/tasks"><button type="button" class="start-btn">Get Started</button></a>
      </div>
      <div class="popup">
        <p>Account successfully deleted.</p>
      </div>
    </div>
    <canvas class="background"></canvas>
<%- include("./partials/footer") -%>
